@model EmployeeManagementSystem.Models.Employee

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
@*<h2 class="p-3 mb-2  bg-secondary  text-light text-center fw-bold">CREATE DATA</h2>*@
@Html.Raw(TempData["CreateMsg"])
@Html.Raw(TempData["SizeMsg"])
@Html.Raw(TempData["ExtensionMsg"])
<link href="~/Content/StyleSheet3.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="container">
            <div class="title">Create</div>
            <div class="user_details">
                <div class="input-box">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label details" })
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control  fs-6 " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>

                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.designation, htmlAttributes: new { @class = "control-label details" })
                    @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "form-control  fs-6" } })
                    @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label details" })
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control fs-6" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>

                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label details" })
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control  fs-6" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>

                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label details" })
                    @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control  fs-6" } })
                    @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                    <i class="fa-solid fa-circle-check"></i>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="input-box">
                    @Html.LabelFor(model => model.image_path, htmlAttributes: new { @class = "control-label details" })
           
                    <input type="file" name="ImageFile" required class="mt-2" />
                </div>
            </div>

            <div class="button mx-auto btn-lg" style="width: 200px;">
                <input type="submit" value="Create"/>
            </div>
            
        </div>
}

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
